ion-col{
  padding: 0px;
}

ion-card{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #b28857b8;
  --background:#faedca;
  border-radius: 10px;
  min-height: 129px;


  ion-card-header{
    padding: 5px;
  }

  ion-card-title{
      color: #b28857;
      b{
          font-size: 18px;
      }
  }
}

.main-title{
  border-bottom: 1px solid #b2885766;
}

