<ion-header color="primary" class="ion-no-border ion-padding" >

  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-img class="ion-float-left"  src="../../assets/svg/header/Boton_Anterior.svg"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-img  src="../../assets/svg/header/Boton_Salir.svg" (click)="menu.open('menu')" ></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

