ion-col{
  padding: 0px;
}

ion-card{
  font-size: 13px;
  color: #b28857b8;
  --background:#faedca;
  border-radius: 10px;
  min-height: 129px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  ion-card-header{
      padding: 7px;
  }
  ion-card-title{
      color: #b28857;
      b{
          font-size: 19px;
      }
      ion-icon{
          font-size: larger;
      }
  }


  ion-card-subtitle{
      font-size: 10px;
  }
}

.main-title{
  border-bottom: 1px solid #b2885766;
}

