.module-name{
  z-index: 1;
  width: 100%;
  background-color: var(--ion-color-crema);
  justify-content: center;
  h1{
      text-align: center;
      color:  var(--ion-color-marron);
      font-size: 30px;
      font-family: 'Poppins-bold' !important;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
  }
  small{
      text-align: center;
      font-family: 'Poppins-medium';
      color: #b28857;
  }
}

ion-col{
  padding: 0px;
}

ion-card{
  font-size: 13px;
  color: #b28857b8;
  --background:#faedca;
  border-radius: 10px;
  min-height: 129px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  ion-card-header{
      padding: 7px;
  }
  ion-card-title{
      color: #b28857;
      b{
          font-size: 19px;
      }
      ion-icon{
          font-size: larger;
      }
  }


  ion-card-subtitle{
      font-size: 10px;
  }
}

.main-title{
  border-bottom: 1px solid #b2885766;
  b{
      font-family: 'Poppins-medium' !important;
  }
}

.obs{
  font-family: 'Poppins-regular' !important;
}

.locked{
  --background: #c5bca3f7;
}
