ion-grid{
  text-align: center;
}

.title{
  border-bottom: solid 3px #ffffff;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  justify-content: center;
  h1{
    font-size: 22px;
  }
}

