<app-header backUrl="/main/installation"></app-header>
<ion-content color="primary" [fullscreen]="true">
  <ion-grid fixed>
    <app-module-name></app-module-name>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide style="display: block" *ngFor="let pieceInfo of piecesInfo">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title class="ion-text-center main-title">
                  <b class="title1">
                    {{ pieceInfo.name }}
                  </b>
                </ion-card-title>
                <ion-card-title class="ion-text-center">
                  <img class="convencion" [src]="pieceInfo.convencion" />
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-title class="ion-text-center main-title">
                  <b>
                    {{ pieceInfo.title }}
                  </b>
                </ion-card-title>
                <ion-card-title class="ion-text-center">
                  <img class="convencion" [src]="pieceInfo.img" />
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="information">
          <h1>Concepto</h1>
          <p class="ion-text-center">
            {{ pieceInfo.concept }}
          </p>
        </ion-row>
        <ion-row class="information">
          <h1>Caracteristicas</h1>
          <p class="ion-text-center">
            {{ pieceInfo.feature }}
          </p>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>
