ion-slides {
  padding-bottom: 8%;
  --bullet-background: #ffffff;
  --bullet-background-active: #e7e7e7;
}


ion-col {
  padding: 0px;
}

ion-card {
  display: flex;
  flex-direction: column;
  font-size: 13px !important;
  color: #b28857b8;
  --background: #FBFCEC;
  border-radius: 10px;
  min-height: 95px;

  ion-card-header {
    padding: 2px;
  }

  ion-card-title {
    color: #006F35;
    .title1 {
      font-size: 18px !important;
    }
  }
}

.main-title {
  border-bottom: 1px solid #b2885766;
}

.convencion {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.information {
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid #006F35;
  margin-top: 10px;
  justify-content: center;
  border-radius: 10px;
  color: #2a3749;
  background-color: #ebebeb;
  padding-left: 5px;
  padding-right: 5px;

  h1 {
    border-bottom: 3px solid #006F35;
  }
  p {
    font-size: 15px;
    color: #2a3749;
  }
}
