.slider1 {
  font-size: 10px;
  color: #b28857b8;
  --background:#e5e6e7;
  border-radius: 10px;
  min-height: 129px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  ion-card-title{
      color: #cc6506;
      img{
        width: 60px;
      }
      b{
          font-size: 12px;
      }
      ion-icon{
          font-size: larger;
      }
  }
}

ion-col{
  padding: 0px;
}

ion-card{
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #b28857b8;
  --background:#faedca;
  border-radius: 10px;
  min-height: 129px;


  ion-card-header{
    padding: 5px;
  }

  ion-card-title{
      color: #cc6506;
      b{
          font-size: 18px;
      }
  }
}

.main-title{
  border-bottom: 1px solid #b2885766;
}

.convencion{
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.information{
  margin-left: 20px;
  margin-right: 20px;
  border:  3px solid #cc6506;
  margin-top: 10px;
  justify-content: center;
  border-radius: 10px;
  color: #2a3749;
  background-color: #dbdbdb;
  padding-left: 5px;
  padding-right: 5px;

  h1{
    border-bottom: 3px solid #cc6506;
  }
  p{
    color: #2a3749;
  }
}
