ion-content::part(scroll){
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ion-content{

  ion-card{
      -webkit-box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.14);
      box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.14);
      min-height: 85px;
      height: 90%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #2a3749;
      color: #ffffff;
  }

  ion-grid{
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-image: url("../../assets/svg/sourceGame/vulnerabilidad/backgroundGame/fondo_gris_ladrillos.svg");
      background-size: cover;
  }

  ion-row{
    background: transparent;
    text-align: center;

    h4{
      color: black;
    }

    img{
      border-radius: 10px;
      border: #D0673B solid 3px;
      width: 60%;
    }
  }

}
