<app-header backUrl='/gameInterface'></app-header>
<ion-content color="medium">
  <ion-grid fixed>
    <app-module-name></app-module-name>
    <ion-row class="ion-justify-content-center">
      <h4>¿Cuál fue el fallo de la siguiente construcción?</h4>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <img src="../../assets/svg/sourceGame/vulnerabilidad/badPracticeGame/1.png">
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let opt of options" >
        <ion-card class="ion-activatable ripple-parent animate__animated animate__bounceIn" (click)="select()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-content>
            {{ opt.description | titlecase }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
