img{
  width: 100%;
}

.sinupot{
  width: 50%;
  height: 60px;
  margin-top: 20px;
  border-radius: 10px;
  background: linear-gradient(#D04D52, #ee555a, #f38a8f);
  color: #ffffff;
  font-weight: 500;
  font-size: medium;
}
