<app-header backUrl='/mainInterface/:id'></app-header>
<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/svg/sourceSinupot/1.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/2.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/3.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/4.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/5.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/6.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/7.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/8.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/9.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/10.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/11.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/12.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/13.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/14.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sourceSinupot/15.svg" />
    </ion-slide>
  </ion-slides>
  <ion-row class="ion-justify-content-center">
    <button class="btn" routerLink="/login">Visitar SINUPOT</button>
  </ion-row>
</ion-content>


