<app-header backUrl='/mainInterface/:id'></app-header>
<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/svg/sinupot/1.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/2.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/3.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/4.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/5.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/6.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/7.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/8.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/9.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/10.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/11.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/12.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/13.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/14.svg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/svg/sinupot/15.svg" />
    </ion-slide>
  </ion-slides>
  <ion-row class="ion-justify-content-center">
    <button class="btn" routerLink="/login">Visitar SINUPOT</button>
  </ion-row>
</ion-content>
<ion-footer color="primary" collapse="undefined">
  <ion-toolbar color="primary">
    <img class="footerimg" src="assets/svg/head/logoSenaAppBlanco.svg" />
  </ion-toolbar>
</ion-footer>

