img{
  width: 100%;
}

.sinupot{
  width: 50%;
  height: 60px;
  margin-top: 20px;
  border-radius: 10px;
  background: linear-gradient(#D04D52, #ee555a, #f38a8f);
  a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: medium;
  }
}

ion-footer{
  background-color: #2a3749;
  width: 100%;
  height: 11vh;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: auto;
  align-items: center;

  ion-toolbar{
    padding-top: 3%;

    .footer-img{
      width: 50%;
    }

  }
}
