ion-content::part(scroll){
  justify-content: center;
  flex-direction: column;
}

ion-content{

  ion-row{
    background: transparent;
    text-align: center;
    h1{
      font-size: 30px;
      border-bottom: solid 3px #2a3749;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      justify-content: center;
      color: #2a3749;
    }
    p{
      color: #2a3749;
    }
  }

  ion-slides{

    ion-slide{
      border: #2a3749 solid 2px;
      border-radius:  10px;


      .question{
        margin-top: 20px;
        margin-bottom: 20px;
        color: #2a3749;
      }

      .answer{
        ion-button{
          justify-content: start;
          height: 70px;
          border: #ffffff solid;
          border-radius: 10px;
          font-size: 1em;
          text-transform: capitalize;
          margin-bottom: 10px;
          color: #ffffff;
          text-align: left;

        }
      }
    }
  }
}
