ion-content::part(scroll){
  justify-content: center;
  flex-direction: column;
}

ion-content{

  ion-row{
    background: transparent;
    text-align: center;
    h1{
      font-size: 30px;
      border-bottom: solid 3px #2a3749;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      justify-content: center;
      color: #2a3749;
    }
    p{
      color: #2a3749;
    }
  }

  ion-list{
    border-radius: 30px;
    background-color: var(--ion-color-primary);
    margin-bottom: 10px;

    ion-radio-group{
    --border-color: transparent;
        color: #2a3749;
      ion-list-header{
        color: #ffffff;
      }
      ion-item{
        --background: var(--ion-color-medium);
        margin: 2%;
        border: 1px solid #2a3749;
        border-radius: 10px;
        color: #2a3749;

        ion-label{
          white-space: pre-wrap;
          display: flex;
          flex-wrap: wrap;
          }
      }
    }
  }

}
