<app-header backUrl='/game/gameInterface'></app-header>
<ion-content color="medium" [fullscreen]="true">
  <app-module-name></app-module-name>
  <ion-grid >
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" size-md="3"  size-sm="6" size-sm="4" size-lg="2" *ngFor="let item of games">
        <ion-card [routerLink]="item.route" class="animate__animated animate__bounceIn ion-activatable ripple-parent" (click)="goTo">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header>
            <ion-card-title class="ion-text-center main-title" >
              <b>
                {{ item.title | titlecase }}
              </b>
            </ion-card-title>
            <ion-card-title class="ion-text-center" >
              <img [src]="item.img">
            </ion-card-title>

          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer collapse="undefined">
  <ion-toolbar color="primary">
    <img class="footer-img" src="assets/svg/sourceFooter/logoSenaAppBlanco.svg" />
  </ion-toolbar>
</ion-footer>
