<app-header backUrl="/game/gameInterface"></app-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <app-module-name></app-module-name>
    <ion-row class="ion-justify-content-center">
      <h4>Seleccione la convencion que corresponda con la pieza</h4>
    </ion-row>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide style="display: block" *ngFor="let concrete of concretes">
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-row class="ion-justify-content-center">
                  <img class="convencion" [src]="concrete.convencion1" />
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-button
                    (click)="respondPoll(1)"
                    [fill]="button1.fill"
                    [color]="button1.color"
                    expand="block"
                  >
                    <img [src]="concrete.img1" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(2)"
                    [fill]="button2.fill"
                    [color]="button2.color"
                    expand="block"
                  >
                    <img [src]="concrete.img2" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(3)"
                    [fill]="button3.fill"
                    [color]="button3.color"
                    expand="block"
                  >
                    <img [src]="concrete.img3" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(4)"
                    [fill]="button4.fill"
                    [color]="button4.color"
                    expand="block"
                  >
                    <img [src]="concrete.img4" />
                  </ion-button>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide style="display: block" *ngFor="let concrete of concretes">
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-row class="ion-justify-content-center">
                  <img class="convencion" [src]="concrete.convencion2" />
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-button
                    (click)="respondPoll(2)"
                    [fill]="button2.fill"
                    [color]="button2.color"
                    expand="block"
                  >
                    <img [src]="concrete.img1" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(1)"
                    [fill]="button1.fill"
                    [color]="button1.color"
                    expand="block"
                  >
                    <img [src]="concrete.img2" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(3)"
                    [fill]="button3.fill"
                    [color]="button3.color"
                    expand="block"
                  >
                    <img [src]="concrete.img3" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(4)"
                    [fill]="button4.fill"
                    [color]="button4.color"
                    expand="block"
                  >
                    <img [src]="concrete.img4" />
                  </ion-button>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide style="display: block" *ngFor="let concrete of concretes">
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-row class="ion-justify-content-center">
                  <img class="convencion" [src]="concrete.convencion3" />
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-button
                    (click)="respondPoll(3)"
                    [fill]="button3.fill"
                    [color]="button3.color"
                    expand="block"
                  >
                    <img [src]="concrete.img1" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(2)"
                    [fill]="button2.fill"
                    [color]="button2.color"
                    expand="block"
                  >
                    <img [src]="concrete.img2" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(1)"
                    [fill]="button1.fill"
                    [color]="button1.color"
                    expand="block"
                  >
                    <img [src]="concrete.img3" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(4)"
                    [fill]="button4.fill"
                    [color]="button4.color"
                    expand="block"
                  >
                    <img [src]="concrete.img4" />
                  </ion-button>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide style="display: block" *ngFor="let concrete of concretes">
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-row class="ion-justify-content-center">
                  <img class="convencion" [src]="concrete.convencion4" />
                </ion-row>
                <ion-row class="ion-justify-content-center">
                  <ion-button
                    (click)="respondPoll(4)"
                    [fill]="button4.fill"
                    [color]="button4.color"
                    expand="block"
                  >
                    <img [src]="concrete.img1" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(2)"
                    [fill]="button2.fill"
                    [color]="button2.color"
                    expand="block"
                  >
                    <img [src]="concrete.img2" />
                  </ion-button>
                  <ion-button
                    (click)="respondPoll(3)"
                    [fill]="button3.fill"
                    [color]="button3.color"
                    expand="block"
                  >
                    <img [src]="concrete.img3" />
                  </ion-button>
                  <ion-button
                    (click)="goTo()"
                    [fill]="button1.fill"
                    [color]="button1.color"
                    expand="block"
                  >
                    <img [src]="concrete.img4" />
                  </ion-button>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</ion-content>
