<app-header backUrl="/mainInterface/:id"></app-header>
<ion-content color="primary" [fullscreen]="true">
  <app-module-name></app-module-name>
  <ion-row class="title">
    <h1>Material de apoyo</h1>
  </ion-row>
  <div class="content_div">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" *ngFor="let material of btnsMaterial">
          <div class="col_div">
            <button [routerLink]="material.route">
              <img [src]="material.img" />
              <ion-label>{{ material.title | titlecase }}</ion-label>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<app-footer></app-footer>

