.content_div{
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;

    .hello_lbl{
      font-weight: 600;
      font-size: 18px;
      padding-left: 5px;
      color: #ffffff;
    }

    ion-grid{
      padding: 0px;
    }

    .col_div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: #2a3749;
      width: 100%;
      height: 150px;
      border-radius: 5px;
      margin-top: 50px;
    }

    button{
      width: 180px;
      background: transparent;
      justify-content: center;
      align-items: center;
      text-align: center;

      img{
        width: 150px;
        border-radius: 10px;
        border: #D0673B solid 3px;
      }

      ion-label{
        font-size: 16px;
        color: #ffffff;
        font-family: "Josefin Sans";
      }
    }
}




.title{
  border-bottom: solid 3px #ffffff;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  justify-content: center;
}


