
.menu-header-bg {
  height: 200px;
  width: 350px;
  background-color: #2a3749;
  background: linear-gradient(90deg, #2a3749 0%, #2a3749 100% );
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
      width: 210px;
      height: 120px;
      margin-left: 20px;
    }
}

.action-button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;


    ion-button {
      text-transform: capitalize;
      font-weight: 300;
      font-size: 15px;
      --background: #2a3749;
      --border-radius: 7px;
      --box-shadow: none;
      width: 50%;
      height: 50px;
      outline: none;
      --background-activated: none;
    }

    ion-icon {
      margin-right: -10px;
    }
}

.menu-items {
  margin: 0px;

  ion-col{

  ion-item {
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;

      button {
        width: 100%;
        background: none;
        img{
          width: 210px;
        }
      }
  }
  }
}

.my-custom-menu {
  --width: 500px;
}
