<ion-menu side="end" menuId="menu" contentId="main">
  <ion-content>
    <div class="menu-header-bg"></div>
    <div class="header-content">
      <img src="assets/svg/head/logoSenaAppBlanco.svg">
    </div>
    <div class="action-button">
      <ion-button routerLink="/index">
        <ion-icon slot="end" name="home"></ion-icon>Inicio
      </ion-button>
    </div>
    <ion-list class="menu-items" lines="none">
      <ion-item>
        <button class="sismica">
          <ion-icon slot="end" name="home"></ion-icon>Vulnerabilidad Sismica
        </button>
      </ion-item>
      <ion-item>
        <button>
          <ion-icon slot="end" name="boat-outline"></ion-icon>Planos Hidraulicos
        </button>
      </ion-item>
      <ion-item>
        <button>
          <ion-icon slot="end" name="calculator-outline"></ion-icon>Planos Sanitarios
        </button>
      </ion-item>
      <ion-item>
        <button>
          <ion-icon slot="end" name="construct-outline"></ion-icon>Planos Gas resindecial
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


