<app-header backUrl='/mainInterface/:id'></app-header>
<ion-content color="primary" [fullscreen]="true">
  <ion-row class="headImg">
    <img class="headimg" src="assets/svg/menu/menuSismica.svg" />
  </ion-row>
  <ion-row class="title">
    <h1>Juegos</h1>
  </ion-row>
  <div class="contain">
    <ion-item lines="none">
      <button>
        <ion-avatar class="module-avatar">
          <img src="../../assets/svg/game/img1.png" />
        </ion-avatar>
        <div class="txt">Instalación tubería</div>
      </button>
    </ion-item>
    <ion-item lines="none">
      <button routerLink="/games">
        <ion-avatar class="module-avatar">
          <img src="../../assets/svg/game/img2.png" />
        </ion-avatar>
        <div class="txt">Mezcla de concreto</div>
      </button>
    </ion-item>
    <ion-item lines="none">
      <button routerLink="/sinupot">
        <ion-avatar class="module-avatar">
          <img src="../../assets/svg/game/img3.png" />
        </ion-avatar>
        <div class="txt">Conceptos basicos</div>
      </button>
    </ion-item>
    <ion-item lines="none">
      <button>
        <ion-avatar class="module-avatar">
          <img src="../../assets/svg/game/img4.png" />
        </ion-avatar>
        <div class="txt">Errores comunes</div>
      </button>
    </ion-item>
  </div>
</ion-content>
