ion-content::part(scroll){
  justify-content: center;
  flex-direction: column;
}

ion-content{

  ion-row{
    background: transparent;
    text-align: center;
    h1{
      font-size: 30px;
      border-bottom: solid 3px #39A900;
      width: 90%;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      justify-content: center;
      color: #39A900;
    }
    p{
      color: #00324D;
      margin-bottom: 20px;
    }
  }

  ion-slides{

    ion-slide{
      border: #00324D solid 2px;
      border-radius:  10px;
      background: #dbdbdb;


      .question{
        margin-top: 20px;
        margin-bottom: 20px;
        color: #00324D ;
        font-size: 17px;
      }

      .answer{
        ion-button{
          height: 75px;
          border: #dbdbdb 2px solid;
          border-radius: 10px;
          font-size: 15px;
          text-transform: initial !important;
          margin-bottom: 10px;
          white-space:pre-wrap;
        }
      }
    }
  }
}

