ion-content::part(scroll) {
  justify-content: center;
  flex-direction: column;
}

ion-content {
  --background: url("../../../assets/svg/sourceGame/vulnerabilidad/backgroundGame/fondo_malas_practicas.svg");
  --background-size: cover;

  .question {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
  }


  ion-row {
    background: transparent;
    text-align: center;

    img{
      width: 280px;
      border: 5px solid #00324D;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 30px;
      border-bottom: solid 3px #00324D;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      justify-content: center;
      color: #00324D;
    }
    p {
      color: #00324D;
    }
  }

  ion-slides {


    ion-slide {
      border-radius: 10px;

      ion-row{
        margin-top: 10px;
      }

      .answer {
        ion-button {
          height: 98px;
          border-radius: 10px;
          font-size: 15px;
          text-transform: initial !important;
          margin-bottom: 10px;
          color: #ffffff;
          border-radius: 10px;
          border: #ffffff 3px solid;
          white-space:pre-wrap;
        }
      }
    }
  }
}
