<app-header backUrl='mainInterface/:id'></app-header>
<ion-content color="primary" [fullscreen]="true">
  <ion-grid>
    <app-module-name></app-module-name>
    <ion-row class="title">
      <h1>Juegos</h1>
    </ion-row>
    <div class="contain">
      <ion-item lines="none">
        <button routerLink="/selectThePair">
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/menuS/juegos.svg" />
          </ion-avatar>
        </button>
      </ion-item>
      <ion-item lines="none">
        <button>
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/menuS/juegos.svg" />
          </ion-avatar>
        </button>
      </ion-item>
    </div>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
