<app-header backUrl='/feature'></app-header>
<ion-content color="medium" [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col size="12" size-md="3" *ngFor="let cat of categories">
        <button  class="category" (click)="goModule(cat.name)">
          <img [src]="cat.img"/>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer color="primary" collapse="undefined">
  <ion-toolbar color="primary">
    <img class="footerimg" src="assets/svg/head/logoSenaAppBlanco.svg" />
  </ion-toolbar>
</ion-footer>
