ion-content::part(scroll){
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wallpaperIndex{
  width: 100%;
}

ion-content{


  ion-grid{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 25vh;
  }
  .sinupot{
    width: 50%;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    background: #39A900;
    font-size: medium;
    border: 2px solid #ffffff;
    color: #ffffff;
  }
}
