<ion-content color="medium" fullscreen="true">
  <ion-grid fixed>
      <ion-col size="12" size-md="3"  size-sm="6" size-sm="4" size-lg="2">
        <ion-row class="ion-justify-content-center">
          <img class="wallpaperIndex" src="../../assets/svg/sourceGame/congratulation/Congrats.svg">
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <button (click)="goTo()" class="back">Volver a inicio</button>
        </ion-row>
      </ion-col>
  </ion-grid>
</ion-content>
