<app-header backUrl='/index'></app-header>
<ion-content color="primary" [fullscreen]="true">
  <ion-grid>
    <app-module-name></app-module-name>
    <div class="contain">
      <ion-item lines="none">
        <button>
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/sourceVulnerabilidad/moduleGame/gameConcrete/cemento_super_resistnte.svg" />
          </ion-avatar>
        </button>
      </ion-item>
      <ion-item lines="none">
        <button>
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/menuS/sinupot.svg" />
          </ion-avatar>
        </button>
      </ion-item>
      <ion-item lines="none">
        <button>
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/sourceVulnerabilidad/moduleGame/gameConcrete/cemento_uso_amb_marino.svg" />
          </ion-avatar>
        </button>
      </ion-item>
      <ion-item lines="none">
        <button>
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/menuS/sinupot.svg" />
          </ion-avatar>
        </button>
      </ion-item>
      <ion-item lines="none">
        <button>
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/sourceVulnerabilidad/moduleGame/gameConcrete/cemento_uso_estrctral.svg" />
          </ion-avatar>
        </button>
      </ion-item>
      <ion-item lines="none">
        <button>
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/menuS/sinupot.svg" />
          </ion-avatar>
        </button>
      </ion-item>
      <ion-item lines="none">
        <button>
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/sourceVulnerabilidad/moduleGame/gameConcrete/cemento_uso_gral.svg" />
          </ion-avatar>
        </button>
      </ion-item>
      <ion-item lines="none">
        <button>
          <ion-avatar class="module-avatar">
            <img src="../../assets/svg/menuS/sinupot.svg" />
          </ion-avatar>
        </button>
      </ion-item>
    </div>
  </ion-grid>
</ion-content>
