<app-header backUrl='/index'></app-header>
<ion-content color="primary" [fullscreen]="true">
  <ion-grid>
    <app-module-name></app-module-name>
    <div class="contain">
      <ion-item lines="none" *ngFor="let btn of btns" >
        <button [routerLink]="btn.route">
          <ion-avatar class="module-avatar">
            <img [src]="btn.img" />
          </ion-avatar>
          <div class="txt">{{ btn.title | titlecase }}</div>
        </button>
      </ion-item>

    </div>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
