<app-header backUrl='/index'></app-header>
<ion-content color="primary" [fullscreen]="true">
    <app-module-name></app-module-name>
    <div class="content_div">
      <ion-label class="hello_lbl">Ingresa al modulo que desees</ion-label>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" *ngFor="let btn of btns">
            <div class="col_div">
              <button [routerLink]="btn.route">
                <img [src]="btn.img"/>
                <ion-label>{{ btn.title | titlecase }}</ion-label>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
